<nav class="navbar navbar-expand-lg navbar-light bg-light">
     <ul class="nav">
          <li class="nav-item">
               <a class="nav-link" href="/admin">User Game</a>
          </li>
          <li class="nav-item">
               <a class="nav-link" href="/logout">Logout</a>
          </li>
     </ul>
</nav>