<!DOCTYPE html>
<html lang="en">

     <head>
          <%- include('../partials/header') %>
               <title>Super Admin</title>
     </head>

     <body>
          <%- include('../partials/navbar') %>
               <div class="container">
                    <h1 align="center">User Game Data</h1>
                    <%- include('../partials/message') %>
                         <div class="row">
                              <div class="col">
                                   <form action="/admin/add" method="post">
                                        <div class="form-group">
                                             <label for="id">User Id</label>
                                             <input type="text" class="form-control" name="userId" id="userId"
                                                  placeholder="masukkan id Anda" required>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                             <label for="pass">Password</label>
                                             <input type="password" name="pass" id="pass" class="form-control" required>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                             <label for="nama">Nama</label>
                                             <input type="text" name="nama" id="nama" class="form-control"
                                                  placeholder="masukkan nama Anda" required>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                             <label for="umur">Umur</label>
                                             <input type="number" name="umur" id="umur" class="form-control"
                                                  placeholder="masukkan umur Anda" required>
                                        </div>
                                        <br>
                                        <div class="form-floating">
                                             <textarea class="form-control" placeholder="Masukkan alamat Anda"
                                                  id="alamat" name="alamat" required></textarea>
                                             <label for="alamat">Alamat</label>
                                        </div>
                                        <br>
                                        <button class="btn btn-success" type="submit">Register</button>
                                   </form>
                              </div>
                              <div class="col">
                                   <h2 align="center">Show Data</h2>
                                   <ol>
                                        <% if(data.length> 0) {
                                             for(let i=0; i < data.length; i++) { %>
                                                  <!-- tampil data -->
                                                  <li>User Id : <%= data[i].userId %> <br>
                                                            Password : <%= data[i].password %> <br>
                                                                 nama : <%= data[i].biodata.nama %> <br>
                                                                      umur : <%= data[i].biodata.umur %> <br>
                                                                           alamat : <%= data[i].biodata.alamat %> <br>
                                                                                <a href="/admin/update/<%= data[i].userId %>"
                                                                                     class="btn btn-primary">Update</a>
                                                                                &nbsp;&nbsp;&nbsp;
                                                                                <a href="/admin/<%= data[i].userId %>?_method=DELETE"
                                                                                     class="btn btn-danger">Delete</a>
                                                  </li>
                                                  <br>
                                                  <% } } else { %>
                                                       <li>No Data Found</li>
                                                       <% } %>
                                   </ol>
                              </div>
                         </div>
               </div>
     </body>

</html>