<!DOCTYPE html>
<html lang="en">

     <head>
          <%- include('../partials/header') %>
               <title>Login</title>
     </head>

     <body>
          <div class="container">
               <%- include('../partials/message') %>
                    <h1 align="center">Login</h1>
                    <form action="/login" method="post">
                         <div class="form-group">
                              <label for="userid" class="form-label">User Id</label>
                              <input class="form-control" type="text" name="userid" placeholder="Enter your user id"
                                   required>
                         </div>
                         <br>
                         <div class="form-group">
                              <label for="password" class="form-label">Password</label>
                              <input class="form-control" type="password" name="password"
                                   placeholder="Enter your password" required>
                         </div>
                         <br>
                         <button class="btn btn-primary" type="submit">Login</button>
                    </form>
          </div>
     </body>

</html>